name: Deploy frontend

on:
  push:
    branches: [ "master" ]

jobs:
  deploy:
    runs-on: [self-hosted, linux, frontend]
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2 pinned

      - uses: actions/setup-node@39370e3970a6d050c480ffad4ff0ed4d3fdee5af # v4.1.0 pinned
        with:
          node-version: 20
          cache: npm

      - run: npm ci
      - run: npm run build
        env:
          NEXT_PUBLIC_BUILD_SHA: ${{ github.sha }}

      - name: Write build version file
        run: echo "${{ github.sha }}" | sudo tee ./out/version.txt > /dev/null

      - name: Sync build to /srv/boardwar/frontend
        run: |
          sudo mkdir -p /srv/boardwar/frontend
          sudo rsync -a --delete ./out/ /srv/boardwar/frontend/
